name: video_player
description: Flutter plugin for displaying inline video with other Flutter
  widgets on Android, iOS, and web.
repository: https://github.com/flutter/plugins/tree/main/packages/video_player/video_player
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+video_player%22
version: 2.4.4

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.10.0"

flutter:
  plugin:
    platforms:
      android:
        default_package: video_player_android
      ios:
        default_package: video_player_avfoundation
      web:
        default_package: video_player_web

dependencies:
  flutter:
    sdk: flutter
  html: ^0.15.0
  video_player_android: ^2.3.5
  video_player_avfoundation: ^2.2.17
  video_player_platform_interface: ^5.1.1
  video_player_web: ^2.0.0
  pointycastle: ^3.6.2
  convert: ^3.1.0

dependency_overrides:
  video_player_platform_interface:
    git:
      url: https://github.com/parthkalariyadev/video_player_test.git
      path: video_player/video_player_platform_interface
      ref: 0361e2a011b554e8d6389a7f76358e2001de3ab3

  video_player_android:
    git:
      url: https://github.com/parthkalariyadev/video_player_test.git
      path: video_player/video_player_android
      ref: 0361e2a011b554e8d6389a7f76358e2001de3ab3

dev_dependencies:
  flutter_test:
    sdk: flutter
